body {
  width: 100%;
  height: 100%;
  margin: 0;

}

* {
  text-align:center;
}


nav{
  background:gray;
  padding:10px;
}

figcaption{
  font-size:smaller;
}

section#featured-property p {
width:800px;
}


section#details{
  background:red;
}
div{
  float:left;
  background:red;
  width:25%;
}

